@import "tailwindcss";

@theme {
  /* Konfigurasi warna nuansa Teh & Lemon untuk Tailwind v4 */
  --color-greenery: #007e5d;
  --color-golden: #f8c828;
  --color-darkGreen: #014231;
  --color-cream: #fdfbf0;
  
  /* Konfigurasi shadow solid gaya Neo-Brutalism */
  --shadow-solid: 6px 6px 0px 0px #014231;
}